{% extends 'base.html.twig' %}

{% block title %}Imagin'Woo - Actualités{% endblock %}

{% block dataController %}
    actus
{% endblock %}

{% block body %}
    <section class="page-section container">
        <nav aria-label="Page navigation example" class="">
            <ul class="pagination justify-content-center">
                {% if year+1 in years %}
                    <li class="page-item h-auto d-flex align-items-stretch"><a class="page-link d-flex align-items-center" href="{{ path('app_actus', {'year': year+1}) }}"><i class="bi bi-chevron-left ms-1"></i> Page précédente</a></li>
                {% endif %}
                {% for y in years %}
                    <li class="page-item h-auto d-flex align-items-stretch"><a class="page-link d-flex align-items-center {% if year == y %}active{% endif %}" href="{{ path('app_actus', {'year': y}) }}">{{ y }}</a></li>
                {% endfor %}
                {% if year-1 in years %}
                    <li class="page-item h-auto d-flex align-items-stretch"><a class="page-link d-flex align-items-center" href="{{ path('app_actus', {'year': year-1}) }}">Page suivante <i class="bi bi-chevron-right me-1"></i></a></li>
                {% endif %}
            </ul>
        </nav>
    </section>
    <section class="page-section">
        {% for actu in actus %}
            <div id="cardDiv" class="container d-flex flex-row flex-wrap justify-content-between">
                <div class="card mb-3 w-100">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{ asset('img/actus/' ~ actu.file ~ '') }}" class="img-fluid card-img-fill rounded-start"
                                 alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body text-start h-100 d-flex flex-column p-5">
                                <div>
                                <h5 class="card-title">{{ actu.title }}</h5>
                                    <p class="card-text">
                                        <small class="text-body-secondary fst-italic">
                                            {{ actu.dateString }}
                                        </small>
                                    </p>
                                </div>
                                <p class="card-text my-auto ">
                                    {{ actu.text|raw }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}
